  // Presentacion
.about_presentation {
  h2 {
    &:before {
      content: url('../img/acento-about.svg');
      width: 275px;
      height: 106px;
      position: absolute;
      z-index: -1;
    }    
  }
}

  //Servicios
.about_services {
  .container {
    max-width: 1080px;      
  }
  .column {
    i {
    font-size: 15em;
      &:before {
        width: 220px;
        position: absolute;
        margin-top: 40px;
        margin-left: 50px;      
      }
    }
   &:first-child {
        i {
          font-size: 13em;
          margin-top: 40px;
          &:before {
            content: url('../img/acento-disenoweb.svg');
          }
        }
    }
   &:nth-child(2) {
        i {
          &:before {
            content: url('../img/acento-desarrollosoftware.svg');
          }
        }
    }
   &:nth-child(3) {
        i {
          &:before {
            content: url('../img/acento-disenografico.svg');
          }
        }
    }
   &:nth-child(4) {
        i {
          &:before {
            content: url('../img/acento-analiticaweb.svg');
          }
        }
    }
   &:nth-child(5) {
        i {
          &:before {
            content: url('../img/acento-marketingdigital.svg');
          }
        }
    }
  }
}